<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="robotiq_hande_control" params="prefix use_fake_hardware:=true">

        <ros2_control name="robotiq_hande_control" type="system">

            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="state_following_offset">0.0</param>
                </xacro:if>
            </hardware>

            <joint name="${prefix}joint_finger">
                <command_interface name="position">
                    <param name="min">0.0</param>
                    <param name="max">0.025</param>
                </command_interface>
                <state_interface name="position" />
            </joint>

        </ros2_control>

    </xacro:macro>
</robot>