<?xml version="1.0"?>
<robot name="robotiq_hande" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="world" />
	<!-- defined parameters -->
	<xacro:arg name="prefix" default="" />
	<xacro:arg name="connected_to" default="world" />
	<xacro:arg name="rotation" default="0.0" />
	<xacro:arg name="use_fake_hardware" default="true" />

	<!-- include wrist adapter -->
	<xacro:include
		filename="$(find robotiq2f_description)/urdf/robotiqhande/ur_to_robotiq_adapter.xacro" />
	<xacro:ur_to_robotiq prefix="$(arg prefix)" connected_to="$(arg connected_to)"
		rotation="$(arg rotation)" />

	<!-- include gripper-->
	<xacro:include
		filename="$(find robotiq2f_description)/urdf/robotiqhande/robotiq_hande_macro.xacro" />
	<xacro:robotiq_hande prefix="$(arg prefix)" parent="$(arg prefix)gripper_mount_link">
		<origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
	</xacro:robotiq_hande>

	<!-- include ros2_control -->
	<xacro:include
		filename="$(find robotiq2f_description)/urdf/robotiqhande/robotiq_hande.ros2_control.xacro" />
	<xacro:robotiq_hande_control prefix="$(arg prefix)" use_fake_hardware="$(arg use_fake_hardware)" />

</robot>